{% extends "sites/components/base.html" %}
{% load static %}

{% block content %}


    <!--login area start-->
    <div class="login-area ptb-120 bg-white">
        <div class="container">
            <div class="row justify-content-center">
               
                    {% if form.errors %}
                    <div class="alert alert-danger">
                      <strong>E-mail et/ou mot de passe incorrect.</strong>
                      <ul>
                        {% for field in form %}
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                      </ul>
                    </div>
                    {% endif %}
              
                <div class="col-12">
                    <h3>Merci , un email à été envoyé à votre adresse pour la réinitialisation de votre mot de passe , suivez les instructions</p>
                        <br>
                    </h3>
            </div>
        </div>
    </div>
    {% endblock content %}