{% extends "sites/components/base.html" %}
{% load static %}

{% block content %}


    <!--login area start-->
    <div class="login-area ptb-120 bg-white">
        <div class="container">
            <div class="row justify-content-center">
               
                    {% if form.errors %}
                    <div class="alert alert-danger">
                      <strong>E-mail et/ou mot de passe incorrect.</strong>
                      <ul>
                        {% for field in form %}
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                      </ul>
                    </div>
                    {% endif %}
              
                <div class="col-xl-6">
                    <form class="theme-form" method="POST" action="{% url 'password_reset' %}" >
                        {% csrf_token %}
                        <h3 class="mb-40">Mot de Passe Oublié ? </h3>

                        {% if messages %}

                        <div class="alert alert-success" role="alert">
                          {% for message in messages  %}
                              {{message}}
                          {% endfor %}
                      </div>
                          
                        {% endif %}
                        <input type="email" id="email" name="email" placeholder="Veuillez saisir votre E-mail" class="theme-input">
                     
                        <div class="forgot-password d-flex align-items-center justify-content-between gap-2 mt-32 flex-wrap">
                           
                            <a href="{% url 'login' %}" class="text-main-color">Je m'en souvient  ?</a>
                        </div>
                        <button style="background-color:orange" type="submit" class="template-btn primary-btn w-100 mt-32"><span>Continuer </span></button>
                        <p class="mb-0 mt-32">Pas de Compte ? <a href="{% url 'signup' %}" class="text-main-color">Inscription</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}