{% extends "sites/components/base.html" %}
{% load static %}

{% block content %}



    <!--login area start-->
    <div class="login-area ptb-120 bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                                       <!-- Start col -->
                                       <div class="col-md-12 col-lg-12">
                                                    <h4>Une Erreur est survenue , merci de reesssayer : {{e}}</h4>
                                        </div>
                                        </div>
                    <!-- End Auth Box -->
                </div>
            </div>
        </div>
    </div>
    <!--login area end-->

    {% endblock content %}
