{% extends "sites/components/base.html" %}
{% load static %}

{% block content %}

    
  <!--gallery section start-->
  <section class="hm2-gallery-section position-relative z-1 overflow-hidden">
    <span class="circle-shape position-absolute z--1 rounded-circle"></span>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="section-title mb-70">
                    <span class="fs-sm">@Moderneo Home</span>
                    <h2 class="fs-40 mt-4 hm2-font-family mb-0">Gallerie d'article</h2>
                </div>
            </div>
        </div>
        <div class="gallery-slider-wrapper">
            <div class="hm2-gallery-slide-1 slider-spacing">
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/1.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/1.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/1.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/2.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/3.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/3.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/4.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/4.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/5.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/5.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/6.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/6.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
            </div>
            <div class="hm2-gallery-slide-2 slider-spacing mt-3"  dir="rtl">
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/1.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/1.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/1.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/2.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/3.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/3.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/4.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/4.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/5.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/5.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/6.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/6.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
            </div>
        </div>

        <div class="gallery-slider-wrapper">
            <div class="hm2-gallery-slide-1 slider-spacing">
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/1.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/1.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/1.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/2.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/3.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/3.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/4.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/4.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/5.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/5.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/6.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/6.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
            </div>
            <div class="hm2-gallery-slide-2 slider-spacing mt-3"  dir="rtl">
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/1.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/1.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/1.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/2.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/3.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/3.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/4.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/4.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/5.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/5.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
                <div class="single-item">
                    <a href="{% static 'sites/assets/images/gallery/6.jpg' %}" data-fancybox="gallery"><img src="{% static 'sites/assets/images/gallery/6.jpg' %}" alt="not found" class="img-fluid"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--gallery section end-->


    {% endblock content %}