{% extends "sites/components/base.html" %}
{% load static %}

{% block content %}



    <!--login area start-->
    <div class="login-area ptb-120 bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                                       <!-- Start col -->
                                       <div class="col-md-12 col-lg-12">
                                        <!-- Start Auth Box -->
                                        <div class="auth-box-right">
                                            {% if form.errors %}
                                            <div class="alert alert-danger">
                                              <strong>Oops! Il y a des erreurs :</strong>
                                              <ul>
                                                {% for field in form %}
                                                {% for error in field.errors %}
                                                <li>{{ error }}</li>
                                                {% endfor %}
                                                {% endfor %}
                                              </ul>
                                            </div>
                                            {% endif %}
                                            <div class="card">
                                                <div class="card-body">
                                          <br>
                                                        <h4>
                                                            Félicitation {{user.first_name}} , Un lien d'activation  a été envoyé à votre adresse e-mail , merci de suivre les instructions.</h4>
                
                                                            <br>
                                                            <p class="mb-0 mt-3"><a style="color:#F2E097" href="{% url 'login' %}">Connexion</a></p>
                                                </div>
                                            </div>
                                        </div>
                    <!-- End Auth Box -->
                </div>
            </div>
        </div>
    </div>
    <!--login area end-->

    {% endblock content %}
